@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

a, p, h1, h2, h3 {
  font-family: 'Kanit', sans-serif;
}

body {
  background: silver;
  font-family: 'Kanit', sans-serif;
}

.center {
  text-align: center;
}

.block {
  background: light-blue;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
}


.block-center {
  background: light-blue;
  padding: 10px;
  border: 3px solid black;
  text-align: center;
  border-radius: 10px;
}

#title {
  border-radius: 75%;
  padding: 20px; 
  width: 400px;
  height: 150px;
  background: white;
}

.title {
  font-size: 3.5em;
  color: white;
  text-align: center;
}

.subtitle {
  font-size: 2.5em;
  color: white;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
